<mat-toolbar color="primary">
  <span>Music Streamer</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Search</span> &nbsp;
  <span>Library</span> &nbsp;
  <span>Account</span>
</mat-toolbar>
<br>
<div class="container">
<mat-card>Simple card</mat-card>
<mat-card>Simple card</mat-card>
<mat-card>Simple card</mat-card>
</div>

<mat-toolbar color="primary" class="footer">
  With love by Shravan
</mat-toolbar>


<router-outlet></router-outlet>