.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    justify-content: space-evenly;
  }

  .container{
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      
  }

  .footer{
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: center;
  }