<mat-toolbar color="primary">
  <span>Music Streamer</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Search</span> &nbsp;
  <span>Library</span> &nbsp;
  <span>Account</span>
</mat-toolbar>
<br>
<div class="container">
<mat-card>Simple card</mat-card>
<mat-card>Simple card</mat-card>
<mat-card>Simple card</mat-card>
</div>
<div class="expansion">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

</mat-expansion-panel>
</div>

  
<mat-toolbar color="primary" class="footer">
  With love by Shravan
</mat-toolbar>


<router-outlet></router-outlet>