<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <audio controls="controls" #myAudio>
    <source src="https://res.cloudinary.com/dbetyfn5w/video/upload/v1575725077/music-files/In_The_End_Official_Video_-_Linkin_Park_vf5nof.mp3" type="audio/mpeg" #audioLink>
  </audio>
</mat-expansion-panel>
<br>
<div class="container">
<mat-card>
  <img src="https://res.cloudinary.com/dbetyfn5w/image/upload/v1575726276/music-album/220px-Linkin_park_hybrid_theory_gac9ys.jpg">
  <br>
  In the End
  <br>
  <button mat-button class="primary" (click)="playAudio(myAudio,audioLink)">Play</button>
  <button mat-button class="primary" (click)="pauseAudio(myAudio)">Pause</button>
</mat-card>
<mat-card>
  <img src="https://res.cloudinary.com/dbetyfn5w/image/upload/v1577178934/music-album/220px-Endofheartacheoriginal_qlvowx.jpg">
  <br>
  End Of heartache
  <br>
  <button mat-button class="primary" (click)="playAudio(myAudio,audioLink)">Play</button>
  <button mat-button class="primary" (click)="pauseAudio(myAudio)">Pause</button>
</mat-card>


<mat-card>
  <img src="https://res.cloudinary.com/dbetyfn5w/image/upload/v1577178967/music-album/220px-Iron_Maiden-Dance_of_Death_dbfsmk.jpg">
  <br>
  Dance Of Death
  <br>
  <button mat-button class="primary" (click)="playAudio(myAudio)">Play</button>
  <button mat-button class="primary" (click)="pauseAudio(myAudio)">Pause</button>
</mat-card>
</div>


