<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <audio controls="controls" #myAudio>
    <source src="{{audioLink}}" type="audio/mpeg" #audioLink>
  </audio>
</mat-expansion-panel>
<br>
<div class="container" *ngFor="let i of musics">
<mat-card>
  <img src="{{i.img_link}}">
  <br>
  {{i.song}}
  <br>
  <button mat-button class="primary" (click)="playAudio(myAudio,i.link,i.id)">Play</button>
  <button mat-button class="primary" (click)="pauseAudio(myAudio)">Pause</button>
</mat-card>

</div>


