<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="song!=null">
      
      {{song}} by {{artist}}
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <audio controls="controls" #myAudio>
    <source src="{{audioLink}}" type="audio/mpeg" #audioLink>
  </audio>
</mat-expansion-panel>
<br>
<div class="container" >
  <div *ngFor="let i of musics">
<mat-card>
  <img src="{{i.img_link}}">
  <br>
  {{i.song}}

 <br>
    
      <div *ngIf="i.library==1;else added">
        <button mat-button class="primary" (click)="remove(j.collectionid)">Remove From Library</button>
       
      </div>
      <ng-template #added>
        <button mat-button class="primary" (click)="library(i.collectionid)">Add To Library</button>
      </ng-template>
   

  
 
 
  <button mat-button class="primary" (click)="playAudio(myAudio,i.link,i.id,i.album,i.artist,i.song)">Play</button>
  <button mat-button class="primary" (click)="pauseAudio(myAudio)">Pause</button>
</mat-card>
</div>
</div>


